Project_Starter_Files-Building_a_Metrics_Dashboard/.vagrant/machines/default/virtualbox/action_provision
Project_Starter_Files-Building_a_Metrics_Dashboard/.vagrant/machines/default/virtualbox/action_set_name
Project_Starter_Files-Building_a_Metrics_Dashboard/.vagrant/machines/default/virtualbox/box_meta
Project_Starter_Files-Building_a_Metrics_Dashboard/.vagrant/machines/default/virtualbox/creator_uid
Project_Starter_Files-Building_a_Metrics_Dashboard/.vagrant/machines/default/virtualbox/id
Project_Starter_Files-Building_a_Metrics_Dashboard/.vagrant/machines/default/virtualbox/index_uuid
Project_Starter_Files-Building_a_Metrics_Dashboard/.vagrant/machines/default/virtualbox/private_key
Project_Starter_Files-Building_a_Metrics_Dashboard/.vagrant/machines/default/virtualbox/synced_folders
Project_Starter_Files-Building_a_Metrics_Dashboard/.vagrant/machines/default/virtualbox/vagrant_cwd
Project_Starter_Files-Building_a_Metrics_Dashboard/.vagrant/bundler/global.sol
Project_Starter_Files-Building_a_Metrics_Dashboard/.vagrant/rgloader/loader.rb
